'menu': [ {
  'label': 'Packages'
  'submenu': [ {
    'label': 'Atom-LaTeX'
    'submenu': [
      {
        'label': 'Build LaTeX'
        'command': 'atom-latex:build'
      }
      {
        'label': 'Build LaTeX from active editor'
        'command': 'atom-latex:build-here'
      }
      {
        'label': 'Preview PDF'
        'command': 'atom-latex:preview'
      }
      {
        'label': 'Preview PDF in new tab'
        'command': 'atom-latex:preview-tab'
      }
      {
        'label': 'Kill compiler'
        'command': 'atom-latex:kill'
      }
      {
        'label': 'SyncTeX from here'
        'command': 'atom-latex:synctex'
      }
      {
        'label': 'Show Atom-LaTeX log panel'
        'command': 'atom-latex:show-log'
      }
    ]
  } ]
} ]
'context-menu': 'atom-text-editor': [ {
  'label': 'SyncTeX from here'
  'command': 'atom-latex:synctex'
} ]
