'.text.tex.latex':
  'editor':
    'softTabs': true
    'tabLength': 2
    'softWrap': true
    'commentStart': '% '
  'bracket-matcher':
    'autocompleteCharacters': [
      '$$',
      '``',
      '{}',
      '()',
      '[]',
      '<>',
      '«»',
      '""',
      '\'\''
    ]
