'atom-text-editor[data-grammar="text tex latex"]':
  'ctrl-alt-b': 'atom-latex:build'
  'ctrl-alt-h': 'atom-latex:build-here'
  'ctrl-alt-p': 'atom-latex:preview'
  'ctrl-alt-t': 'atom-latex:preview-tab'
  'ctrl-alt-k': 'atom-latex:kill'
  'ctrl-alt-s': 'atom-latex:synctex'
  'ctrl-alt-l': 'atom-latex:show-log'
