// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url(atom://atom-latex/fonts/fontawesome-webfont.woff2);
}

.fa {
  font-family: 'FontAwesome';
}

.atom-latex-title, #atom-latex-log-icon::before {
  font-size: 14px;
  margin-right: 2px;
}

#atom-latex-log-icon {
  display: inline-block;
  padding-top: 2px;
  color: lightgreen;
}

#atom-latex-log-icon.icon-x, .atom-latex-error {
  color: red;
}

#atom-latex-log-icon.icon-sync, #atom-latex-log-icon.icon-alert, .atom-latex-warning {
  color: orange;
}

.atom-latex-parser-message {
  margin-right: 3px;
}

#atom-latex-status-bar {
  margin: 0 10px;
}

#atom-latex-status-bar .inline-block {
  margin-right: 5px;
}

.atom-latex-control-icon {
  font-size: 18px !important;
  margin: 4px 10px;
  display: inline-block;
  cursor: pointer;
}

.atom-latex-control-separator, #atom-latex-root-text {
  font-size: 14px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 5px;
  margin-right: 3px;
}

#atom-latex-root-text {
  margin-left: -4px;
}

#atom-latex-logs {
  border-top: none;
  border-left: none;
  border-right: none;
  max-height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.atom-latex-log-message {
  font-size: 14px;
}

.atom-latex-log-icon {
  font-size: 14px !important;
  margin: 4px 6px;
  display: inline-block;
}

.atom-latex-dimmed {
  opacity: 0.3;
}

.atom-latex-log-icon.fa-times-circle {
  color: red;
}

.atom-latex-log-icon.fa-exclamation-circle {
  color: orange;
}

.atom-latex-log-icon.fa-question-circle {
  color: cyan;
}
